@for $px from 0 through 100 {
  .pd#{$px} {
    padding: #{$px}px;
  }
  .pl#{$px} {
    padding-left: #{$px}px;
  }
  .pr#{$px} {
    padding-right: #{$px}px;
  }
  .pt#{$px} {
    padding-top: #{$px}px;
  }
  .pb#{$px} {
    padding-bottom: #{$px}px;
  }

  .mg#{$px} {
    margin: #{$px}px;
  }
  .ml#{$px} {
    margin-left: #{$px}px;
  }
  .mr#{$px} {
    margin-right: #{$px}px;
  }
  .mt#{$px} {
    margin-top: #{$px}px;
  }
  .mb#{$px} {
    margin-bottom: #{$px}px;
  }
}

.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}